/* changing color of elements */
header > h1, h2, .h3-color {
    color: #800000
}

section > ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

section > ul {
    font-family: cursive, sans-serif;
    font-size: smaller;
    font-weight: bold;
    font-style: italic;
}

header {
    text-align: center;
}

li a:link{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

div > p::first-letter{
    font-size: 1.5em;
}

dl {
    font-family: cursive, sans-serif;
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    color: #800000;
}

dd {
    color: #000000;
}